* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  width: 100%;
  button {
    width: 30%;
    padding: 5px;
    color: #fff;
    font-weight: 600;
  }
  form {
    display: flex;
    width: 70%;
    input {
      width: 100%;
    }
  }
}



.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  a {
    text-decoration: none;
    color: #000;
    padding: 7px;
    &:hover {
      background-color: #FAE527;
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  margin-top: 20px;
  padding: 10px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border: 3px solid #D6E434;
  border-radius: 10px;
  background-color: #14D032;
  img {
    width: 200px;
  }
  p {
    text-align: justify;
    font-weight: 600;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media (min-width: 768px) {
  .main {
    width: 70%;
  }
  .content {
    padding: 0;
  }
}

@media (min-width: 1000px) {
  .main {
    width: 50%;
  }
}
